.botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
}

main {
    margin-top: 5rem;
}

.btn-conteudo, .btn-exercicios, .btn-leis{
    width: 80%;
    margin: 0.5rem 10%;
    padding: 1rem;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    height: 4rem;
    font-weight: 900;
}

.btn-conteudo {
    background-color: rgb(125, 13, 230);
}

.btn-exercicios {
    background-color: rgb(154, 46, 255);
}

.btn-leis {
    background-color: rgb(183, 106, 255);
}

#btn-noticias {
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 5%;
    padding: 1rem;
}

.btn-add-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 3.5rem;
    height: 3.5rem;
    margin-top: auto;
    font-size: 40px;
    font-weight: 900;
}