.conta{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

#foto-preview {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    position: relative;
    height: 10rem;
}

.topic-card{
    margin: 2rem 3rem;
    border-radius: 6px;
    background-color: rgb(242, 221, 255);
    text-align: left;
    padding: 0.5rem;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar{
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    margin-right: 0.4rem;
}

.user{
    margin-left: 0.2rem;
    opacity: 0.8;
}

.topic-preview{
    font-size: 20px;
    margin: 1rem;
}

.topic-interacoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.curtidas, .comentarios{
    display: flex;
    align-items: center;
    opacity: 0.8;
}

.btn-curtir, .btn-comentar{
    background-color: rgb(242, 221, 255);
    border: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
    transition: color 0.2s ease, transform 0.1s ease;
}

.btn-curtir:active {
    transform: scale(1.2);
}

.btn-curtir.curtido {
    color: #e63946; 
}

.btn-curtir.curtido svg {
    fill: #e63946;
}